<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pokemonAPI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCA594E21C99280D0036A25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCA594F61C99280D0036A25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCA595011C99280D0036A25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
